#cv-form{
    
}

.myimg{
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: aqua;
}

.shiv{
    width: 400px;
}

.shiv2{
    width: 800px;
}

#cv-template{
    display:none;
}